@page-width: 85%;
@page-width-tablet: 90%;
@header-height: 65px;
@header-height-tablet: 100px;
@header-height-desktop-lg: 6vw;

@side-header-height: 5vw;

@cubic: cubic-bezier(0.8, 0, 0.55, 0.94);
@snappy: cubic-bezier(1, 0, 0.51, 1);

@transition-duration: 700ms;
@transition-duration-quick: 400ms;


* {
  font-family: "Plain", sans-serif;
  box-sizing: border-box;
  vertical-align: top;
}

html, body {
  margin: 0 0;
  padding: 0 0;
}

body {
  min-height: 100vh;

  &::-webkit-scrollbar {
    display: none;
  }
}

main {
  position: relative;
  z-index: 0;
  transition: opacity @transition-duration @cubic @transition-duration;

  &.exiting-content {
    opacity: 0;
    transition: opacity @transition-duration @cubic;
  }

  &.incoming-content {
    opacity: 0;
    height: 100vh;
    position: fixed;

    transition: opacity @transition-duration @cubic @transition-duration;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 36px;
  font-weight: 300;
  margin-top: -0.0em; // This is weird, I know. But don't take this out.
}

h2 {
  font-size: 24px;
  font-weight: 200;
}

h3 {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

p {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.02em;

  color: rgba(0,0,0,0.7);
}

button {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.18em;

  border: none;
  background-color: transparent;
  outline: none;

  color: #000;

  padding: 0 0;

  text-transform: uppercase;
}

.sqs-block-horizontalrule hr, hr {
  background-color: rgba(0,0,0,0.2);
  margin: 30px 0;
  border: none;
  height: 1px;
}

.eyebrow {
  font-size: 12px;
  letter-spacing: 0.18em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5px 0;
}

.label {
  font-size: 11px;
  letter-spacing: 0.18em;
  font-weight: 400;
  text-transform: uppercase;

  opacity: 0.3;
  margin: 0 0;
}

.no-transitions {
  transition: none !important;
}

.is-transparent {
  opacity: 0;
}

@media @desktop_lg {
  h1 { font-size: 48px; }
}
