.menu-overlay {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, -100%, 0);

  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;

  transition: opacity @transition-duration step-end,
              transform @transition-duration @cubic,
              visibility @transition-duration step-end,
              background-color @transition-duration @cubic;

  /*----------------------
  ALTERNATE STATES
  ----------------------*/
  &.is-active {
    opacity: 1;
    visibility: visible;
    transform: translate3d(0, 0, 0);


    transition: opacity @transition-duration step-start,
                transform @transition-duration @cubic,
                visibility @transition-duration step-start,
                background-color @transition-duration @cubic;

    .menu-links {
      opacity: 1;
      transition: opacity @transition-duration @cubic @transition-duration;
    }
  }

  &.has-hovered-link {
    .link {
      color: rgba(255,255,255,0.1);

      &:hover {
        color: #fff;
        text-shadow: none;
      }
    }
  }

  /*----------------------
  CONTENT
  ----------------------*/
  .menu-links {
    opacity: 0;
    position: relative;

    font-size: 18vmin;
    font-weight: 400;
    letter-spacing: -0.03em;
    line-height: 1.05em;

    width: @page-width;
    height: 100%;
    padding-left: 0;
    margin: 22vmin auto;

    list-style: none;
    padding-top: @header-height;
    // padding-top: 9vmin;

    transition: opacity @transition-duration-quick @cubic;
  }

  .menu-icons-row {
    display: block;
    margin-top: 40px;
    height: auto;

    .menu-icon {
      opacity: 1;
      transition: opacity .25s @cubic;
      display: inline-block;
      width: 18px;
      height: 18px;
    }

    .menu-icon:hover {
      opacity: .3;
    }

    .icon-instagram {
      margin-top: 2px; //properly align icon vertically
    }

    .icon-mail {
      margin-top: 2px; //properly align icon vertically
    }

    .icon-dribbble {
      margin-top: 2px; //properly align icon vertically
    }
  }

  .link {
    display: inline-block;
    color: #FFF;

    user-select: none;
    cursor: pointer;

    margin-top: 0em;

    transition: text-shadow @transition-duration-quick @cubic @transition-duration,
                color @transition-duration-quick @cubic @transition-duration;

    .has-menu-overlay & {
      transition: text-shadow @transition-duration-quick @cubic,
                  color @transition-duration-quick @cubic;
    }

    &.active-page {
      color: black;
      text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
    }

    a {
      text-decoration: none;
      line-height: 0.6;
    }
  }

  @media @phone_lg{
    .menu-links {
      margin: 20vmin auto;
    }
  }

  @media @tablet {
    .menu-links {
      width: @page-width-tablet;
      font-size: 14vmin;
      margin-top: 14vmin;
    }
  }
  @media @desktop {
    .menu-links {
      font-size: 13.5vmin;
    }
  }
}
