#project-detail {
  .back-to-top {
    position: fixed;
    bottom: 40px;
    right: 7.5%;
    cursor: pointer;

    z-index: 100;

    opacity: 0;
    visibility: hidden;

    transition: opacity @transition-duration-quick @cubic,
                visibility @transition-duration-quick step-end;

    &.is-active {
      opacity: 1;
      visibility: visible;

      transition: opacity @transition-duration-quick @cubic,
                  visibility @transition-duration-quick step-start;
    }

    svg {
      width: 30px;
      height: 30px;

      polyline {
        stroke: #000;
        fill: none;
      }
    }

    @media @tablet {
      right: 5%;
    }
  }
}
