#project-detail {
  .block[data-type="default"] {

    padding: 30px 0;

    &.background-black {
      p {
        opacity: 0.5;
      }
    }

    &.full-width {
      .sqs-layout {
        width: 100%;
        max-width: none;

        .sqs-row {
          margin: 0;
        }

        .sqs-row > .sqs-col-12 {
          width: 100%;
        }

        .sqs-block {
          padding: 0;
        }

        .sqs-block-image {
          .intrinsic { max-width: none !important; }
        }
      }
    }

    p {
      font-size: 13px;
      font-weight: 100;
      line-height: 2em;
      opacity: 0.7;

      a {
        color: black;
        border-bottom: 1px solid black;
      }
    }

    iframe {
      border: none;
    }

    .sqs-layout {
      max-width: 2000px;
    }

    .sqs-block-html {
      max-width: 500px;
      padding-top: 0;
      padding-bottom: 0;
    }

    .sqs-col-6 > .sqs-block-html,
    .sqs-col-7 > .sqs-block-html,
    .sqs-col-8 > .sqs-block-html,
    .sqs-col-9 > .sqs-block-html,
    .sqs-col-10 > .sqs-block-html,
    .sqs-col-11 > .sqs-block-html,
    .sqs-col-12 > .sqs-block-html {
      max-width: 850px;
      margin-left: auto;
      margin-right: auto;
    }

    .sqs-block-horizontalrule {
      max-width: 500px;
    }

    .sqs-col-6 > .sqs-block-horizontalrule,
    .sqs-col-7 > .sqs-block-horizontalrule,
    .sqs-col-8 > .sqs-block-horizontalrule,
    .sqs-col-9 > .sqs-block-horizontalrule,
    .sqs-col-10 > .sqs-block-horizontalrule,
    .sqs-col-11 > .sqs-block-horizontalrule,
    .sqs-col-12 > .sqs-block-horizontalrule {
      max-width: 850px;
      margin-left: auto;
      margin-right: auto;
    }

    @media @tablet {
      .sqs-layout {
        width: @page-width-tablet;
      }
    }

    @media @tablet_lg {
      padding: 100px 0;

      p {
        font-size: 14px;
      }
    }

    @media @desktop_lg {
      padding: 150px 0;
    }
  }
}
