#project-detail {
  .block[data-type="custom-gallery"] {
    width: 100%;
    height: 50vw;
    overflow: hidden;
    text-align: center;

    padding: 50px 0;

    @media @desktop {
      padding: 150px 0;
    }


    .gallery-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &.homepage-carousel {
      height: auto;

      .main-image {
        width: 68.5%;
      }

      .gallery-item {
        top: 4.0vw;
      }
    }

    .gallery-item {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;

      width: 66.1%;
      height: auto;

      visibility: hidden;

      transition: transform @transition-duration @cubic,
                  visibility @transition-duration step-end;

      img {
        width: 100%;
      }

      &[data-arrival-index="0"],
      &[data-arrival-index="1"],
      &[data-departure-index="1"] {
        visibility: visible;

        transition: transform @transition-duration @cubic,
                    visibility @transition-duration step-start;
      }

      &[data-arrival-index="0"] {

      }

      &[data-arrival-index="1"] {
        transform: translate3d(120%,0,0);
      }

      &[data-arrival-index="2"] {
        transform: translate3d(240%,0,0);
        visibility: hidden;
      }

      &[data-departure-index="1"] {
        transform: translate3d(-120%,0,0);
      }

      &[data-departure-index="2"] {
        transform: translate3d(-240%,0,0);
        visibility: hidden;
      }
    }

    @media @desktop_xxl {
      &.homepage-carousel {
        .main-image {
          width: 1245px;
        }

        .gallery-item {
          top: 72px;
          width: 1200px;
        }
      }
    }
  }
}

#project-detail.collection-morgan-stanley {
  .block[data-type="custom-gallery"] {
    .gallery-item {
      top: 0;
      width: 69.1%;
    }

    @media @desktop_xxl {
      .gallery-item {
        width: 1245px;
      }
    }
  }
}
