#project-detail {
  .block.page-index {
    padding: 50px 0;

    .sqs-layout {
      display: flex;
    }

    .title,
    .links {
      display: inline-block;
      width: 100%;
    }

    .title {
      display: none;
    }

    .links {

    }

    .link {
      color: #000;
      text-decoration: none;

      span {
        opacity: 0.2;
        padding-right: 10px;
      }

      h2 {
        font-size: 18px;
      }
    }

    .link-thumbnail {
      display: none;
    }

    @media @phone_lg {
      .link h2 {
        font-size: 20px;
      }
    }

    @media @tablet_lg {
      .title {
        display: block;
        width: 50%;
      }

      .links {
        width: 50%;
      }

      .link {
        position: relative;

        h2 {
          font-size: 24px;
        }
      }

      .link:hover {
        .link-thumbnail {
          display: block;
        }
      }

      .link-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        width: 300px;

        z-index: 1;
      }
    }

    @media @desktop_lg {
      padding: 5vw 0;
    }
  }
}
