#project-detail {
  .block[data-type="phone-collage"] {
    padding: 100px 0;

    .sqs-layout {
      display: flex;
    }

    .column {
      position: relative;
      width: 33.33%;
    }

    .iphone {
      position: relative;
      margin-top: 5vw;
      width: 25vw;
      transform: translate3d(3.7vw, 0, 0); // Centered (taking the shadows into consideration)

      img {
        position: relative;
        z-index: 1;
        width: 100%;
      }

      .screencap-video {
        position: absolute;
        top: 4.65vw;
        left: 4.05vw;
        width: 20vw;
        height: 34.5vw;
      }
    }

    .text {
      position: absolute;
      top: 27vw;
      left: 10vw;

      max-width: 400px;
    }

    .image-1,
    .image-2,
    .image-3 {
      position: absolute;
    }

    .image-1 {
      left: 5vw;
      width: 50%;
    }

    .image-2 {
      right: -5vw;
      width: 100%;
    }

    .image-3 {
      top: 35vw;
      left: 6vw;
      width: 35%;
    }

    @media @desktop {
      padding: 10vw 0;
    }

    @media @desktop_xxl {
      .iphone {
        width: 405px;

        img {
          height: 761px;
        }

        .screencap-video {
          width: 324px;
          height: 559px;
          top: 76px;
          left: 64px;
        }
      }

      .text {
        left: auto;
        right: -1vw;
      }

      .image-1 {
        left: auto;
        right: 7vw;
        width: 40%;
      }

      .image-2 {
        left: 3vw;
        right: auto;
        width: 80%;
      }

      .image-3 {
        top: 30vw;
        left: 1.5vw;
        width: 30%;
      }
    }
  }
}
