#project-detail {
  .block,
  .page-index {

    &.background-light-gray {
      background-color: #FAFAFA;
    }

    &.background-medium-gray {
      background-color: #F3F3F3;
    }

    &.background-black {
      background-color: #000;

     * {
       color: @white-0;
      }

      .sqs-block-horizontalrule hr, hr {
        background-color: rgba(255,255,255,0.16);
      }
    }

    &:last-child {
      padding-bottom: 120px !important;
      @media @tablet { padding-bottom: 160px !important; }
      @media @desktop_lg { padding-bottom: 250px !important; }
    }

    [data-scrolled-into-view] {
      transition: opacity @transition-duration @cubic,
                  transform @transition-duration @cubic;
    }

    [data-scrolled-into-view="false"] {
      opacity: 0;
      transform: translate3d(0,50px,0);
    }

    [data-scrolled-into-view="true"] {
      opacity: 1;
      transform: translate3d(0,0,0);
    }

    .sqs-layout {
      width: @page-width;
      margin: 0 auto;
    }

    .sqs-layout > .sqs-row,
    .sqs-row {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    [class*=sqs-col] .sqs-block {
      padding-left: 4vw;
      padding-right: 4vw;
    }

    .sqs-block-html {
      &:first-child { margin-top: 30px; }
      &:last-child { margin-bottom: 30px; }
    }

    .sqs-col-1,
    .sqs-col-2,
    .sqs-col-3,
    .sqs-col-4,
    .sqs-col-5,
    .sqs-col-6,
    .sqs-col-7,
    .sqs-col-8,
    .sqs-col-9,
    .sqs-col-10,
    .sqs-col-11 {
      width: 100%;
    }

    .sqs-col-4 {
      margin: 25px 0;
    }

    .sqs-block-horizontalrule {
      padding-top: 0;
      padding-bottom: 0;
    }

    .sqs-block-spacer {
      height: 50px;
    }

    @media @tablet {
      .sqs-layout {
        width: @page-width-tablet;
      }

      .sqs-layout > .sqs-row {
        flex-wrap: nowrap;
      }

      .sqs-col-1 { width: 8.3333%; }
      .sqs-col-2 { width: 16.666%; }
      .sqs-col-3 { width: 25%; }
      .sqs-col-4 { width: 33.333%; }
      .sqs-col-5 { width: 41.666%; }
      .sqs-col-6 { width: 50%; }
      .sqs-col-7 { width: 58.333%; }
      .sqs-col-10 { width: 83.333%; }

      .sqs-block-spacer {
        height: 100px;
      }
    }
    @media @desktop {
      .sqs-block-spacer {
        height: 150px;
      }

    }
  }
}
