@nav-width: 90%;
@nav-height: 100px;

@cubic: cubic-bezier(0.8, 0, 0.55, 0.94);


* {
  font-family: "Plain", sans-serif;
  box-sizing: border-box;
  vertical-align: top;
}

html, body {
  margin: 0 0;
  padding: 0 0;
}

body {
  min-height: 800vh;
}

p {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.05em;
}

button {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.05em;

  border: none;
  background-color: transparent;
  outline: none;

  padding: 0 0;

  text-transform: uppercase;
}

.eyebrow {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 400;
  text-transform: uppercase;

  opacity: 0.5;
}

.title {
  font-size: 7.6vw;
  font-weight: 400;
  margin: -1.2vw 0 30px;
}
