.cover-gallery-wrapper {
  .cover-gallery-imagery {
    transition: background-color @transition-duration @cubic;

    &[data-project="squarespace"] { background-color: #e9eae7; }
    &[data-project="apple"] { background-color: #ededed; }
    &[data-project="bloomingdales"] { background-color: #a69689; }
    &[data-project="morgan-stanley"] { background-color: #93336a; }
    &[data-project="vans"] { background-color: #1a1a1a; }

    .imagery {
      opacity: 0;
      z-index: 1;

      overflow: hidden;

      transition: opacity @transition-duration-quick @cubic,
                  z-index @transition-duration-quick step-end;

      &[data-project="squarespace"]    .image-background { background-image: url('../projects/squarespace-cover.jpg'); }
      &[data-project="apple"]          .image-background { background-image: url('../projects/apple-cover.jpg'); }
      &[data-project="bloomingdales"]  .image-background { background-image: url('../projects/bloomingdales-cover.jpg'); }
      &[data-project="morgan-stanley"] .image-background { background-image: url('../projects/morgan-stanley-cover.jpg'); }
      &[data-project="vans"]           .image-background { background-image: url('../projects/vans-cover.jpg'); }

      &[data-arrival-index="0"] {
        z-index: 2;
        opacity: 1;
        transition: opacity @transition-duration-quick @cubic,
                    z-index @transition-duration-quick step-start;

        .label {
          opacity: 0.3;
        }
      }

      &:hover {
        .image-background { transform: scale(1.05); }
        &::after{
          opacity: 1;
        }
      }

      &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0.05);
      opacity: 0;
      transition: opacity @transition-duration-quick * 1.2 @cubic;
      }

      .image-background {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;

        transition: transform @transition-duration-quick * 1.2 @cubic;
      }
    }

    .label,
    .concealer { display: none; }


    @media @tablet {
      .imagery {
        transition: opacity @transition-duration-quick @cubic,
                    z-index @transition-duration step-end;

        &[data-project="squarespace"] {
          width: 55%;
        }

        &[data-project="apple"] {
          margin: auto;
          left: 0;
          right: 0;
          width: 30%;
        }

        &[data-project="bloomingdales"] {
          left: auto;
          right: 0;
          width: 48%;
        }

        &[data-project="morgan-stanley"] {
          left: 0;
          right: auto;
          width: 30%;
        }

        &[data-project="vans"] {
          left: auto;
          right: 0;
          width: 45%;
        }

        &[data-arrival-index="0"] {
          transition: opacity @transition-duration-quick @cubic (@transition-duration * 2),
                      z-index @transition-duration-quick step-start;
        }
      }

      .label {
        display: inline-block;
        position: absolute;
        bottom: 0;

        padding-bottom: 15px;

        transform-origin: 0% 100%;
        transform: rotateZ(-90deg);

        z-index: 2;
        opacity: 0;

        letter-spacing: 0.1em;

        transition: opacity @transition-duration @cubic;
      }

      .concealer {
        display: block;

        position: absolute;
        top: 0;
        left: auto;
        right: auto;

        width: 100%;
        height: 100%;

        background-color: @white-0;

        transition: transform @transition-duration @cubic @transition-duration;

        &.left {
          left: -100%;
          transform: translate3d(50%,0,0);
        }

        &.right {
          right: -100%;
          transform: translate3d(-50%,0,0);
        }
      }

      &[data-project="squarespace"] {
        .concealer.left  { transform: translate3d(0,0,0); }
        .concealer.right { transform: translate3d(-45%,0,0); }
      }

      &[data-project="apple"] {
        .concealer.left  { transform: translate3d(35%,0,0); }
        .concealer.right { transform: translate3d(-35%,0,0); }
      }

      &[data-project="bloomingdales"] {
        .concealer.left  { transform: translate3d(52%,0,0); }
        .concealer.right { transform: translate3d(0,0,0); }
      }

      &[data-project="morgan-stanley"] {
        .concealer.left  { transform: translate3d(0,0,0); }
        .concealer.right { transform: translate3d(-70%,0,0); }
      }

      &[data-project="vans"] {
        .concealer.left  { transform: translate3d(55%,0,0); }
        .concealer.right { transform: translate3d(0,0,0); }
      }
    }
  }
}
