.cover-gallery-wrapper {
  .cover-gallery-pagination {
    position: absolute;
    bottom: @header-height * -0.5;
    left: 0;
    right: 0;
    width: 100%;
    text-align: right;

    .active-page-mask,
    .divider,
    .page-count, {
      display: inline-block;
      vertical-align: middle;
      line-height: 1em;
    }

    .divider {
      position: relative;
      width: 16vw;
      height: 1px;
      background-color: rgba(0,0,0,0.1);
      margin: 0 15px;

      overflow: hidden;

      .timer {
        position: absolute;
        top: 0;
        left: -100%;
        height: 100%;
        width: 100%;
        background-color: #000;

        transition: transform @transition-duration linear;
      }
    }

    .active-page-mask {
      vertical-align: top;
      margin-top: 5px;
      height: 15px;
      overflow: hidden;
    }

    .active-page-wrapper {
      transition: transform @transition-duration @cubic;
    }

    .active-page {
      opacity: 1;
    }

    @media @tablet {
      bottom: @header-height-tablet * -0.5;
      text-align: center;

      .divider {
        width: 9.5vw;
      }
    }

    @media @desktop_lg {
      bottom: (@header-height-desktop-lg * -0.5) - 0.6vw;
    }
  }
}
