@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-Ultralight.otf");
  font-weight: 100;
}
@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-UltralightItalic.otf");
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-Light.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-LightItalic.otf");
  font-weight: 200;
  font-style: italic;
}
@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-Regular.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-RegularItalic.otf");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-Medium.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-MediumItalic.otf");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-Bold.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Plain";
  src: url("../fonts/Plain-BoldItalic.otf");
  font-weight: 500;
  font-style: italic;
}
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
  width: 100%;
  background-color: #FFF;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
* {
  font-family: "Plain", sans-serif;
  box-sizing: border-box;
  vertical-align: top;
}
html,
body {
  margin: 0 0;
  padding: 0 0;
}
body {
  min-height: 100vh;
}
body::-webkit-scrollbar {
  display: none;
}
p {
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.7);
}
button {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.18em;
  border: none;
  background-color: transparent;
  outline: none;
  color: #000;
  padding: 0 0;
  text-transform: uppercase;
}
.eyebrow {
  font-size: 12px;
  letter-spacing: 0.18em;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5px 0;
}
.title {
  font-size: 8.5vw;
  letter-spacing: -0.04em;
  font-weight: 400;
  margin: -1.2vw 0 20px;
}
@media all and (min-width: 1600px) {
  .title {
    font-size: 8vw;
  }
}
.label {
  font-size: 11px;
  letter-spacing: 0.18em;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 0.3;
  margin: 0 0;
}
.no-transitions {
  transition: none !important;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
}
nav .nav-content {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
nav .nav-content h1 {
  font-size: 19.5px;
  font-weight: 300;
  margin: 0 0;
}
@media all and (min-width: 1440px) {
  nav {
    height: 6vw;
  }
  nav h1 {
    padding-bottom: 0.3vw;
  }
}
.side-nav {
  position: fixed;
  left: 0;
  z-index: 2;
  width: 100vh;
  height: 5vw;
  transform-origin: top;
  transform: rotateZ(-90deg) translate3d(-50vh, -50vh, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
.side-nav[data-view="grid"] li[data-view="grid"] {
  opacity: 1;
  border-bottom: 1px solid #000;
}
.side-nav[data-view="cover"] li[data-view="cover"] {
  opacity: 1;
  border-bottom: 1px solid #000;
}
.side-nav ul {
  list-style: none;
  margin: 0 0;
  padding-top: 0.3vw;
}
.side-nav li {
  display: inline-block;
  line-height: 0.9em;
  margin: 0 15px;
  padding-bottom: 8px;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94), border-color 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
.side-nav li:hover {
  opacity: 1;
  border-bottom: 1px solid #000;
}
#portfolio[data-view="cover"] .cover-gallery-wrapper {
  visibility: visible;
  opacity: 1;
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 700ms, visibility 700ms step-start 700ms;
}
#portfolio[data-view="cover"] .grid-gallery-wrapper {
  transition: opacity 700ms step-end 700ms, visibility 700ms step-end 700ms;
}
#portfolio[data-view="cover"] .grid-gallery-wrapper .grid-block {
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94), transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 0ms;
}
#portfolio[data-view="cover"] .grid-gallery-wrapper .grid-block.is--active .imagery {
  transition: opacity 700ms step-end 700ms, transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 0ms;
}
#portfolio[data-view="grid"] .cover-gallery-wrapper {
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94), visibility 700ms step-end;
}
#portfolio[data-view="grid"] .cover-gallery-wrapper .text {
  opacity: 0;
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
#portfolio[data-view="grid"] .grid-gallery-wrapper {
  visibility: visible;
  opacity: 1;
  transition: none;
}
#portfolio[data-view="grid"] .grid-gallery-wrapper .grid-block {
  opacity: 1;
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 1260ms, transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 1050ms;
}
#portfolio[data-view="grid"] .grid-gallery-wrapper .grid-block.is--active {
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 700ms, transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 700ms;
}
#portfolio[data-view="grid"] .grid-gallery-wrapper .grid-block.is--active .imagery {
  transition: transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 700ms;
}
#portfolio[data-view="grid"] .grid-gallery-wrapper .grid-block .imagery {
  transition: transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 1050ms;
}
#portfolio .cover-gallery-wrapper,
#portfolio .grid-gallery-wrapper {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 100px;
  left: 0;
  width: 100%;
  height: calc(100vh - 100px);
  padding-bottom: 100px;
}
@media all and (min-width: 1440px) {
  #portfolio .cover-gallery-wrapper,
  #portfolio .grid-gallery-wrapper {
    top: 6vw;
    height: calc(100vh - 6vw);
    padding-bottom: 7vw;
  }
}
.cover-gallery-wrapper {
  z-index: 1;
}
.cover-gallery-wrapper .cover-gallery {
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto;
}
.cover-gallery-wrapper .cover-gallery-imagery,
.cover-gallery-wrapper .cover-gallery-text {
  width: 100%;
  height: 100%;
}
.cover-gallery-wrapper .imagery,
.cover-gallery-wrapper .text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.cover-gallery-wrapper .cover-gallery-imagery {
  transition: background-color 700ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
.cover-gallery-wrapper .cover-gallery-imagery .imagery {
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
.cover-gallery-wrapper .cover-gallery-imagery .imagery[data-project="squarespace"] {
  width: 55%;
  background-image: url('../projects/squarespace-cover.jpg');
}
.cover-gallery-wrapper .cover-gallery-imagery .imagery[data-project="apple"] {
  margin: auto;
  left: 0;
  right: 0;
  width: 30%;
  background-image: url('../projects/apple-cover.jpg');
}
.cover-gallery-wrapper .cover-gallery-imagery .imagery[data-project="bloomingdales"] {
  left: auto;
  right: 0;
  width: 48%;
  background-image: url('../projects/bloomingdales-cover.jpg');
}
.cover-gallery-wrapper .cover-gallery-imagery .imagery[data-project="morgan-stanley"] {
  left: 0;
  right: auto;
  width: 30%;
  background-image: url('../projects/morgan-stanley-cover.jpg');
}
.cover-gallery-wrapper .cover-gallery-imagery .imagery[data-project="vans"] {
  left: auto;
  right: 0;
  width: 45%;
  background-image: url('../projects/vans-cover.jpg');
}
.cover-gallery-wrapper .cover-gallery-imagery .imagery[data-arrival-index="0"] {
  opacity: 1;
  transition: opacity 400ms cubic-bezier(0.8, 0, 0.55, 0.94) 1400ms;
}
.cover-gallery-wrapper .cover-gallery-imagery .concealer {
  position: absolute;
  top: 0;
  left: auto;
  right: auto;
  width: 100%;
  height: 100%;
  background-color: #FFF;
  transition: transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 700ms;
}
.cover-gallery-wrapper .cover-gallery-imagery .concealer.left {
  left: -100%;
  transform: translate3d(50%, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-imagery .concealer.right {
  right: -100%;
  transform: translate3d(-50%, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="squarespace"] {
  background-color: #e9eae7;
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="squarespace"] .concealer.left {
  transform: translate3d(0, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="squarespace"] .concealer.right {
  transform: translate3d(-45%, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="apple"] {
  background-color: #ededed;
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="apple"] .concealer.left {
  transform: translate3d(35%, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="apple"] .concealer.right {
  transform: translate3d(-35%, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="bloomingdales"] {
  background-color: #a69689;
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="bloomingdales"] .concealer.left {
  transform: translate3d(52%, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="bloomingdales"] .concealer.right {
  transform: translate3d(0, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="morgan-stanley"] {
  background-color: #93336a;
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="morgan-stanley"] .concealer.left {
  transform: translate3d(0, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="morgan-stanley"] .concealer.right {
  transform: translate3d(-70%, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="vans"] {
  background-color: #1a1a1a;
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="vans"] .concealer.left {
  transform: translate3d(55%, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-imagery[data-project="vans"] .concealer.right {
  transform: translate3d(0, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.cover-gallery-wrapper .cover-gallery-text .text {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  margin: auto;
  padding-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94), transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
.cover-gallery-wrapper .cover-gallery-text .text[data-project="squarespace"] {
  right: auto;
  left: 45%;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-project="squarespace"] p {
  align-self: flex-end;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-project="apple"] {
  text-align: left;
  left: 6.35vw;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-project="apple"] .eyebrow {
  margin-left: 9vw;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-project="apple"] .title {
  margin-left: 8.5vw;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-project="apple"] p {
  align-self: flex-start;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-project="bloomingdales"] {
  text-align: left;
  left: 0;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-project="bloomingdales"] .title {
  margin-left: -0.6vw;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-project="bloomingdales"] p {
  margin-left: 10vw;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-project="morgan-stanley"] {
  right: auto;
  left: 35%;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-project="morgan-stanley"] p {
  align-self: flex-end;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-project="vans"] {
  text-align: left;
  left: 6vw;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-project="vans"] p {
  margin-left: 8vw;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="0"] {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 700ms, transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 700ms;
  z-index: 1;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="0"] .eyebrow,
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="0"] .title,
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="0"] p,
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="0"] button {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="0"] .eyebrow {
  opacity: 0.3;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="0"] .eyebrow {
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 700ms, transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 700ms;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="0"] .title {
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 700ms, transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 700ms;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="0"] p {
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 1470ms, transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 1470ms;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="0"] button {
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 1470ms, transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94) 1470ms;
}
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="1"] {
  transform: translate3d(0, 2vw, 0);
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94), transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="1"] .eyebrow,
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="1"] .title,
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="1"] p,
.cover-gallery-wrapper .cover-gallery-text .text[data-arrival-index="1"] button {
  transform: translate3d(0, 10px, 0);
}
.cover-gallery-wrapper .cover-gallery-text .text[data-departure-index="1"] {
  transform: translate3d(0, -2vw, 0);
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94), transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
.cover-gallery-wrapper .cover-gallery-text .text[data-departure-index="1"] .eyebrow,
.cover-gallery-wrapper .cover-gallery-text .text[data-departure-index="1"] .title,
.cover-gallery-wrapper .cover-gallery-text .text[data-departure-index="1"] p,
.cover-gallery-wrapper .cover-gallery-text .text[data-departure-index="1"] button {
  transform: translate3d(0, -10px, 0);
}
.cover-gallery-wrapper .cover-gallery-text .text-content {
  display: flex;
  flex-direction: column;
}
.cover-gallery-wrapper .cover-gallery-text .text-content:hover {
  cursor: pointer;
}
.cover-gallery-wrapper .cover-gallery-text .text-content:hover button::before {
  transform: translate3d(100%, 0, 0);
}
.cover-gallery-wrapper .cover-gallery-text .eyebrow,
.cover-gallery-wrapper .cover-gallery-text .title,
.cover-gallery-wrapper .cover-gallery-text p,
.cover-gallery-wrapper .cover-gallery-text button {
  opacity: 0;
  transition: opacity 700ms cubic-bezier(0.8, 0, 0.55, 0.94), transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
.cover-gallery-wrapper .cover-gallery-text p {
  max-width: 380px;
  margin-top: 20px;
  line-height: 2em;
}
.cover-gallery-wrapper .cover-gallery-text button {
  margin-top: 50px;
}
.cover-gallery-wrapper .cover-gallery-text button::before,
.cover-gallery-wrapper .cover-gallery-text button::after {
  content: "";
  position: absolute;
  width: 100%;
  left: 120%;
}
.cover-gallery-wrapper .cover-gallery-text button::before {
  height: 100%;
  z-index: -1;
  background: #FFF;
  transition: transform 400ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
.cover-gallery-wrapper .cover-gallery-text button::after {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  top: 14px;
  z-index: -2;
}
@media all and (min-width: 1440px) {
  .cover-gallery-wrapper .cover-gallery-text .text[data-project="vans"] {
    left: 12vw;
  }
}
.cover-gallery-wrapper .cover-gallery-pagination {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}
.cover-gallery-wrapper .cover-gallery-pagination .active-page-mask,
.cover-gallery-wrapper .cover-gallery-pagination .divider,
.cover-gallery-wrapper .cover-gallery-pagination .page-count {
  display: inline-block;
  vertical-align: middle;
  line-height: 1em;
}
.cover-gallery-wrapper .cover-gallery-pagination .divider {
  width: 4.5vw;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 15px;
}
.cover-gallery-wrapper .cover-gallery-pagination .active-page-mask {
  vertical-align: top;
  margin-top: 5px;
  height: 15px;
  overflow: hidden;
}
.cover-gallery-wrapper .cover-gallery-pagination .active-page-wrapper {
  transition: transform 700ms cubic-bezier(0.8, 0, 0.55, 0.94);
}
.cover-gallery-wrapper .cover-gallery-pagination .active-page {
  opacity: 1;
}
@media all and (min-width: 1440px) {
  .cover-gallery-wrapper .cover-gallery-pagination {
    bottom: -3.6vw;
  }
}
.grid-gallery-wrapper {
  text-align: center;
}
.grid-gallery-wrapper .grid-gallery {
  width: auto;
  height: 100%;
  display: inline;
  margin: auto;
}
.grid-gallery-wrapper .grid-column {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  height: 100%;
  text-align: right;
  padding-right: 3vw;
}
.grid-gallery-wrapper .grid-column:last-child {
  text-align: left;
  padding-right: 0;
}
.grid-gallery-wrapper .grid-block {
  opacity: 0;
  width: 100%;
  display: block;
  position: relative;
  text-align: left;
}
.grid-gallery-wrapper .grid-block:last-child {
  margin-bottom: 0;
}
.grid-gallery-wrapper .grid-block .imagery {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  transform-origin: top left;
}
.grid-gallery-wrapper .grid-block .label {
  position: absolute;
  bottom: -20px;
}
.grid-gallery-wrapper .grid-block.is--active {
  z-index: 2;
  opacity: 1;
}
.grid-gallery-wrapper .grid-block[data-project="squarespace"] .imagery {
  background-image: url('../projects/squarespace-cover.jpg');
}
.grid-gallery-wrapper .grid-block[data-project="apple"] .imagery {
  background-image: url('../projects/apple-cover.jpg');
}
.grid-gallery-wrapper .grid-block[data-project="bloomingdales"] {
  margin-left: auto;
  margin-right: 0;
}
.grid-gallery-wrapper .grid-block[data-project="bloomingdales"] .imagery {
  background-image: url('../projects/bloomingdales-cover.jpg');
}
.grid-gallery-wrapper .grid-block[data-project="morgan-stanley"] .imagery {
  background-image: url('../projects/morgan-stanley-cover.jpg');
}
.grid-gallery-wrapper .grid-block[data-project="vans"] .imagery {
  background-image: url('../projects/vans-cover.jpg');
}
